{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "rules": {
      "no-new": 0,
      "no-undef": 0,
      "no-unused-expressions": 0,
      "prefer-destructuring": 0
    }
}